<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{page_title}}</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>
        <div class="alert alert-success mt-3"
             *ngIf="status == 'success'">
          La operación se ha realizado correctamente
        </div>

        <div class="alert alert-danger mt-3"
             *ngIf="status == 'error'">
          La operación no se ha completado<br />
          <span>{{message}}</span>
        </div>
        <form #ingresoEgresoForm="ngForm"
              (ngSubmit)="onSubmit(ingresoEgresoForm)">

          <div class="form-group">
            <label>Descripción</label>
            <input type="text"
                   class="form-control"
                   #description="ngModel"
                   [(ngModel)]="ingresoEgreso.description"
                   placeholder="Descripción"
                   name="description"
                   required>
            <span *ngIf="!description.valid && description.touched">
              El nombre no es válido
            </span>
          </div>

          <div class="form-group">
            <label>Categoríaa</label>
            <select class="form-control"
                    #category="ngModel"
                    [(ngModel)]="ingresoEgreso.category"
                    placeholder="Categoría"
                    name="type"
                    required>
              <option value="Facturas Hogar">Facturas Hogar</option>
              <option value="Gasolina">Gasolina</option>
              <option value="Comida">Comida</option>
              <option value="Comidas Fuera">Comidas Fuera</option>
              <option value="Carreras">Carreras</option>
              <option value="Ocio">Ocio</option>
              <option value="Prestamos">Prestamos</option>
              <option value="Seguros">Seguros</option>
              <option value="Gastos Varios">Gastos Varios</option>
              <option value="Medicamentos">Medicamentos</option>
            </select>
          </div>

          <div class="form-group">
            <label>Importe</label>
            <input type="number"
                   class="form-control"
                   #amount="ngModel"
                   [(ngModel)]="ingresoEgreso.amount"
                   placeholder="Importe"
                   name="amount"
                   required>
            <span *ngIf="!amount.valid && amount.touched">
              El importe no es válido
            </span>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control"
                    #type="ngModel"
                    [(ngModel)]="ingresoEgreso.type"
                    placeholder="Tipo"
                    name="type"
                    required>
              <option value="Ingreso">Ingreso</option>
              <option value="Egreso">Egreso</option>
            </select>
          </div>

          <div class="form-group">
            <label for="date">Fecha</label>
            <input type="date"
                   name="date"
                   class="form-control"
                   #date="ngModel"
                   [(ngModel)]="ingresoEgreso.date"
                   required />
            <span *ngIf="!date.valid && date.touched">
              La fecha no es válida
            </span>
          </div>

          <hr>
          <button type="submit"
                  class="btn btn-success mr-2"
                  [disabled]="ingresoEgresoForm.invalid"
                  *ngIf="!cargando">
            <i class="fa fa-save"></i>

            Agregar
          </button>

          <button type="submit"
                  class="btn btn-success mr-2"
                  [disabled]="true"
                  *ngIf="cargando">
            <i class="fa fa-spin fa-sync"></i>
            Guardando...
          </button>

          <button type="reset"
                  class="btn btn-light">Cancelar</button>

        </form>
      </div>
    </div>
  </div>
</div>
